    <style>
        body {
            font-family: Roboto;
            padding: 0;
            background-color: #fff;
        }

        header {
            background-color: #000;
            color: #fff;
            padding: 20px;

            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 36px;
            
            font-family: Roboto;
            letter-spacing: 2px;
        }

        nav {
            text-align: center;
            margin-top: 20px;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: color 0.3s ease;
        }

        nav ul li a:hover {
            color: #000; /* Change to your desired highlight color */
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .portfolio-item {
            margin-bottom: 20px;
            border: 2px solid #000;
            padding: 10px;
            align-self: center;
            background-color: #fff;
            transition: transform 0.3s ease;
        }

        .portfolio-item:hover {
            transform: scale(1.05);
        }

        .portfolio-item img {
            max-width: 100%;
        }

        .portfolio-item p {
            margin: 10px 0;
            font-style: italic;
            color: #555;
        }

        .fulfill

        footer {
            background-color: #fff;
            color: #000;
            text-align: center;
            padding: 10px 0;
        }
    </style>